body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0px;
}

.color_for_link {
    font-family: 'IBM Plex Sans', sans-serif;
}

.foter_block_item-text {
    font-family: 'IBM Plex Sans', sans-serif;
}

.foter_block_text1 {
    font-family: 'IBM Plex Sans', sans-serif;
}

.foter_block_text_2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 32, 38);
}

.wrap_header {
    width: 500px;
    height: 705px;
}

.wrap_image {
    position: absolute;
    background-image: url(./jpg/11.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 900px;
    height: 654px;
    right: 79px;
}

.wrap_box {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    position: absolute;
    left: 407px;
    top: 197px;
    color: aliceblue;
    z-index: 2;
}

.wrap_box_text {
    display: flex;
    flex-flow: column;
    text-align: left;
    font-size: 1.5rem;
    font-stretch: 2px;
    padding: 0px 0px 15px 0px;
}

.wrap_box_text_hider {
    font-size: 2.76rem;
    margin-bottom: 18px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    line-height: 54px;
}

.hider-under-text {
    font-size: 1.3rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 100;
    line-height: 30px;
}

.wrap_box_text_1 {
    text-align: center;
    font-size: 2.5rem;
    width: 310px;
}

.wrap_box_button {
    display: flex;
    justify-content: center;
}

.wrap_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-top: 9px;
    background-color: rgb(66 129 238);
    color: white;
    text-align: center;
    font-size: 1rem;
    border: 0;
    font-family: initial;
    width: 176px;
    height: 46px;
}

.wrap_button_1 {
    width: 165px;
    background-color: #1f2229;
    margin-left: 19px;
}

.middle-wrapper {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin-top: 100px;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.middle-wrapper h2 {
    margin-top: 6px;
    margin-bottom: 2px;
}

.midle_box {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    margin-top: 166px;
    flex-direction: column;
}

.midle_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 382px;
    height: 376px;
    color: aliceblue;
    font-size: 1.45rem;
    margin: 10px 0px 10px 0px;
    line-height: 1.55;
}

.midle_block_image {
    background-image: url(./jpg/mini_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 122px;
}

.text-middle {
    opacity: 0.5;
    font-size: 1.1rem;
}

.prodect-hider {
    width: 600px;
    height: 200px;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.prodect-hider h2 {
    font-size: 2.4rem;
    margin-bottom: 16px;
}

.prodect-text {
    line-height: 1.5;
    word-spacing: 2.1px;
    opacity: 0.6;
    color: rgb(134 144 162);
}

.foter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 18px;
}

.foter_block {
    display: flex;
    flex-direction: column;
    width: 345px;
    height: 492px;
    background-color: rgb(44, 48, 57);
    align-items: center;
    margin-top: 50px;
}

.foter_block_item-text-price {
    font-size: 1rem;
    margin-top: 17px;
    margin-left: -1px;
    opacity: 0.5;
}

.dollar {
    font-size: 2.4rem;
    margin-top: 2px;
    margin-left: 0px;
}

.foter_block_text_1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(145, 145, 145);
    width: 86%;
    height: 100px;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    margin-top: 2px;
}

.foter_block_text_1-1 {
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgb(145, 145, 145);
    width: 86%;
    height: 72px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    word-spacing: 1px;
}

.foter_block_text_1-2 {
    display: flex;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid rgb(145, 145, 145);
    width: 86%;
    height: 52px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.foter_block_button {
    width: 295px;
    height: 47px;
    background-color: rgb(64, 113, 206);
    border: 0;
    text-align: center;
    color: antiquewhite;
    margin-top: 24px;
    font-size: 14px;
    font-family: inherit;
}

.foter_block_panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 700px;
    height: 100px;
    margin-top: 135px;
    margin-bottom: 35px;
    color: white;
    background-color: rgb(1, 1, 26);
}

.futer_button {
    width: 300px;
    height: 50px;
    border: 0;
    color: aliceblue;
    font-family: "Arial Narrow Bold", sans-serif;
    background-color: rgb(83, 83, 184);
    margin-right: 20px;
}

.my-green {
    color: rgb(73, 203, 177);
    margin-right: 16px;
}

.color_for_link {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 5px;
}

.color-icon {
    color: rgb(30, 119, 202);
    margin-left: 20px;
    font-size: 2.5rem;
}

.foter_block_end_img {
    display: flex;
    background-image: url(./jpg/mini_2.png);
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
}

.foter_block_end_1 {
    display: flex;
    justify-content: space-between;
}

.foter_block_end_social-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.foter_block_end_social-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}