        @media (min-width: 992px) {
            .midle_box {
                flex-direction: row;
                margin-left: 5px;
                margin-right: 5px;
            }
            .wrap_box {
                left: 409px;
            }
            .wrap_box_text_1 {
                font-size: 1.5rem;
                width: 310px;
            }
            .foter_block_end {
                height: 155px;
                flex-direction: column;
            }
            .color-icon {
                font-size: 1.4rem;
            }
            .color_for_link {
                font-size: 1.1rem;
            }
            .text-middle {
                font-size: 1.3rem;
            }
        }
        
        @media (min-width: 1500px) {
            .wrap_box_text_1 {
                font-size: 1rem;
            }
            .color-icon {
                font-size: 1rem;
            }
            .color_for_link {
                font-size: 0.9rem;
            }
            .text-middle {
                font-size: 1.1rem;
            }
            .foter_block_panel {
                width: 1080px;
            }
        }